<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BlogPost Form</title>
    </head>
<body>
  <form action="/posts" method="POST">
      <input type="text" name="author">
      <input type="text" name="body">
      <input type="text" name="date">
      <input type="submit" value="+ Add Post">
  </form>

  <ul>
      <% for (idx in posts) { %>
      <ul>By <%= posts[idx]['author'] %></ul>
      <li><%= posts[idx]['body'] %></li>
      <li><%= posts[idx]['date'] %></li>
      <% } %>
  </ul>

</body>
</html>
