<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BlogPost Project</title>
    </head>
<body>

  <ul>
      <% for (idx in posts) { %>
      <ul>By <%= posts[idx]['author'] %></ul>
      <li><%= posts[idx]['body'] %></li>
      <li><%= posts[idx]['date'] %></li>
      <% } %>
  </ul>

</body>
</html>
